body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(
        to bottom,
         #d7be82,
         #755c1b    )
   
    
}
h5 {
    text-align: center;
}

.container-fluid{
    margin-top: 20px;
}

.pie-chart {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(
        #4caf50 0% 40%,
        #ff9800 40% 70%,
        #f44336 70% 100%
    );
    margin: 20px auto;
}

.chart-legend{
    text-align: center;
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

.chart-legend li {
    display: flex;
    align-items:center;
    margin-bottom:.5rem;
    font-size: .9rem;
    justify-content: center;

}

.dot {
    width:12px;
    height:12px;
    border-radius: 50%;
    margin-right: .5rem;
}

.red { background-color: #f44336;}
.green { background-color: #4caf50; }
.yellow { background-color: #ffc107; }

.card-body {
    background-color:#515a47;
    text-align: center;
    box-shadow: #070707 0px 4px 10px;
    color: white;
}

.custom-navbar {
    background-color: #515a47;
    box-shadow: #070707 0px 4px 10px;
}
.custom-navbar .navbar-brand, .nav-link {
    color: white;

}


